body{
    margin:0px;
}

*{
    box-sizing:border-box;
    
}

.menu-container{
    background-color: lightblue;
    height:5rem;
}
.formula-container{
    background-color: rgb(121, 145, 153);
    height:2rem;
}
.grid-container{
    height:calc(100vh - (5rem + 2rem + 2.5rem));
    background-color:lightgreen;
    overflow: auto;
}
.sheets-container{
    background-color: lightgray;
    height:2.5rem;
    display: flex;
    
}
.icon-container{
    width:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid;
}
.sheet-list{
    border:1px solid;
    width:95%;
    display: flex;
    height:100%;
    overflow-x: auto;
}
.sheet-list::-webkit-scrollbar {
    display: none;
}

.sheet-list {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.sheet{
    border:1px solid;
    height:100px;
    min-width: 5rem;
    padding-top:0.5rem;
    padding-left:0.6rem
   
}
.icon{
    font-size: 1.7rem;
}

.active{
    background-color: white;
}


/*grid*/
.top-left_block{
    border: 1px solid;
    width:2rem;
    height:2rem;
    background-color: darkGray;
  

}
.top-row{
    border: 1px solid;
    display: flex

}
.grid{}
 
.left-col{
       
}

.cell{
    height: 2rem;
    min-width: 5rem;
    border: 1px solid;
    text-align: center;
}
